
OWNER=
PRIVATE_KEY=

ROPSTEN_URL=
MATIC_MUMBAI_URL=
POLYGON_MAINNET_URL=

START_SALE_BLOCK_TIMESTAMP=
STOP_SALE_BLOCK_TIMESTAMP=

ETHERSCAN_API_KEY=
REPORT_GAS=

WHITELISTED_USERS=
ADVISOR_WHITELISTED_USERS=